.bg-PinkSand{
    background-color: #ffa8B6;
}
.bg-Brightblue{
    background-color: #51e2f5;
}
.bg-DustyWhite{
    background-color: #edf756;
}
.bg-DarkSand{
    background-color: #a28089;
}
.bg-BrightlyOrange{background-color: #ff1e00;}
.bg-DimlyBlue{background-color: #e8f9fd;}
.bg-Alert-HighlightGreen{background-color: #59ce8f;}
.bg-BrightlyOrangeNumber2{background-color: #f43a09;}
.bg-GrandpaOrange{background-color: #ffb766;}
.bg-GreyBlueGreen{background-color: #c2edda;}
.bg-LiveGreen{background-color: #68d388;}
.bg-BackgroundTan{background-color: #fceed1;}
.bg-Purple-y{background-color: #7d3cff;}
.bg-YellowGloves{background-color: #f2d53c;}
.bg-Redhead{background-color: #c80e13;}
.bg-SandTan{background-color: #e1b382;}
.bg-SandTanShadow{background-color: #c89666;}
.bg-NightBlue{background-color: #2d545e;}
.bg-NightBlueShadow{background-color: #12343b;}

.bg-BluePopsicle{background-color: #0f2862;}
.bg-Redline{background-color: #9e363a;}
.bg-PurpleShadow{background-color: #091f36;}
.bg-GreyBlueLeaf{background-color: #4f5f76;}